<div ngbDropdown class="d-inline-block">
  <button class="btn btn-outline-warning" id="member" ngbDropdownToggle>
    <span class="fa fa-link"></span>
    <span>Link</span>
  </button>
  <div ngbDropdownMenu aria-labelledby="member">
    <input class="form-control mr-sm-2" type="text" (click)="$event.stopPropagation()" placeholder="Search" aria-label="Search" name="name" [(ngModel)]="name" (ngModelChange)="getAllByName(name)" />
    <button class="dropdown-item" *ngFor="let m of members" (click)="link(m)">{{m.name}} {{m.initials}}</button>
  </div>
</div>
