<div class="card" style="width: 30rem;" *ngIf="member">
  <div class="card">
    <div class="card-header">
      {{member.name}} {{member.initials}}
      <div class="btn-group float-right" role="group" aria-label="Member Options">
        <button type="button" class="btn btn-outline-primary" *ngIf="member.gender=='MALE'" (click)="fetchRelated('son', 'Son(s)')">Son</button>
        <button type="button" class="btn btn-outline-secondary" *ngIf="member.gender=='MALE'" (click)="fetchRelated('daughter', 'Daughter(s)')">Daughter</button>
        <button type="button" class="btn btn-outline-warning" (click)="fetchRelated('spouse', 'Spouse(s)')">Spouse</button>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title" *ngIf="member.familyName">{{member.familyName}}</h5>
      <p class="card-text" *ngIf="member.alternateFamilyName">{{member.alternateFamilyName}}</p>
      <button (click)="open()" class="btn btn-outline-primary btn-sm card-link" type="button">
          <span class="fa fa-pencil"></span>
          <span class="hidden-md-down">Edit</span>
      </button>
      <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete()" >
          <span class="fa fa-remove"></span>
          <span class="hidden-md-down">Delete</span>
      </button>
    </div>
  </div>
</div>
<br />
