<div class="row">
  <div class="col-sm-6">
    <button class="btn btn-outline-primary float-right" (click)="add()">
        <span class="fa fa-plus"></span>
        <span>Add</span>
    </button>
    <div *ngIf="membersHolder">
      <nav>
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'active': (number == previousPage) }" *ngFor="let number of numbers">
            <a class="page-link" (click)="loadPage(number)">{{number+1}}</a>
          </li>
        </ul>
      </nav>
      <app-member *ngFor="let member of members; trackBy index;" [member]="member" (fetchRelated)="parent = null; fetchRelated($event, member)"></app-member>
    </div>
  </div>
  <div class="col-sm-6">
    <div *ngIf="parent">
      <div class="alert alert-info">
        <app-member-link [member]="parent" [relation]="event.relation" (linked)="fetchRelatedAgain(parent)"></app-member-link>
        <app-member-unlink [member]="parent" [relation]="event.relation" (unlinked)="fetchRelatedAgain(parent)"></app-member-unlink>
        {{parent.name}} {{title}}
      </div>
      <div *ngIf="event && event.relation && parent[event.relation]">
        <app-member *ngFor="let member of parent[event.relation]; trackBy index;" [member]="member" (fetchRelated)="parent = null; fetchRelated($event, member)"></app-member>
      </div>
    </div>
  </div>
</div>
