<table class="table">
  <tbody>
    <tr>
      <td>
        <button class="btn btn-outline-primary float-right" (click)="add()">
            <span class="fa fa-plus"></span>
            <span>Add</span>
        </button>
        <div *ngIf="membersHolder">
          <nav>
            <ul class="pagination">
              <li class="page-item" [ngClass]="{'active': (number == previousPage) }" *ngFor="let number of numbers">
                <a class="page-link" (click)="loadPage(number)">{{number+1}}</a>
              </li>
            </ul>
          </nav>
          <app-member *ngFor="let member of members; trackBy index;" [member]="member" (fetchRelated)="parent = null; fetchRelated($event, member)" [gothrams]="gothrams"></app-member>
        </div>
      </td>
      <td *ngIf="parent">
        <button class="btn btn-outline-danger" (click)="parent = null">
            <span class="fa fa-close"></span>
            <span>Close</span>
        </button>
        <button type="button" class="btn btn-outline-info" (click)="miniRender()">Render</button>
        <br />
        <br />
        <app-render-engine *ngIf="showRender" [elements]="mData"></app-render-engine>
        <br />
        <br />
        <div class="alert alert-info">
          <app-member-link [member]="parent" [relation]="event.relation" (linked)="fetchRelatedAgain(parent)"></app-member-link>
          <app-member-unlink [member]="parent" [relation]="event.relation" (unlinked)="fetchRelatedAgain(parent)"></app-member-unlink>
          {{parent.name}} {{title}}
        </div>
        <div *ngIf="event && event.relation && parent[event.relation]">
          <app-member *ngFor="let member of parent[event.relation]; trackBy index;" [member]="member" (fetchRelated)="parent = null; fetchRelated($event, member)" [gothrams]="gothrams"></app-member>
        </div>
      </td>
    </tr>
  </tbody>
</table>
